openapi: 3.2.0
info:
  title: Microsoft Dynamics Sales Orders API
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  version: '1.0'
  description: 'Operations tagged Sales Orders across 2 of this provider''s published API definitions: microsoft-dynamics-business-central-openapi.yml, microsoft-dynamics-finance-operations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{tenantId}/{environment}/api/v2.0
  description: Business Central Online (SaaS)
  variables:
    tenantId:
      default: common
      description: The Azure AD tenant ID or domain name.
    environment:
      default: production
      description: The Business Central environment name.
- url: https://{baseUrl}:{port}/{serverInstance}/api/v2.0
  description: Business Central On-Premises
  variables:
    baseUrl:
      default: localhost
    port:
      default: '7048'
    serverInstance:
      default: bc
- url: https://{environment}.operations.dynamics.com/data
  description: Dynamics 365 Finance & Operations Online
  variables:
    environment:
      default: myorg
      description: The environment-specific subdomain.
security:
- oauth2: []
tags:
- name: Sales Orders
paths:
  /companies({companyId})/salesOrders:
    servers:
    - url: https://api.businesscentral.dynamics.com/v2.0/{tenantId}/{environment}/api/v2.0
      description: Business Central Online (SaaS)
      variables:
        tenantId:
          default: common
          description: The Azure AD tenant ID or domain name.
        environment:
          default: production
          description: The Business Central environment name.
    - url: https://{baseUrl}:{port}/{serverInstance}/api/v2.0
      description: Business Central On-Premises
      variables:
        baseUrl:
          default: localhost
        port:
          default: '7048'
        serverInstance:
          default: bc
    get:
      summary: Microsoft Dynamics List sales orders
      description: Returns a list of sales orders.
      operationId: listSalesOrders
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A list of sales orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrder'
    post:
      summary: Microsoft Dynamics Create a sales order
      description: Creates a new sales order.
      operationId: createSalesOrder
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrder'
      responses:
        '201':
          description: The created sales order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
  /SalesOrderHeaders:
    servers:
    - url: https://{environment}.operations.dynamics.com/data
      description: Dynamics 365 Finance & Operations Online
      variables:
        environment:
          default: myorg
          description: The environment-specific subdomain.
    get:
      summary: Microsoft Dynamics List sales order headers
      description: Retrieves the collection of sales order header entities.
      operationId: listSalesOrderHeaders
      tags:
      - Sales Orders
      parameters:
      - $ref: '#/components/parameters/top_2'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/crossCompany'
      responses:
        '200':
          description: A collection of sales order headers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderHeaderEntity'
    post:
      summary: Microsoft Dynamics Create a sales order header
      description: Creates a new sales order header entity.
      operationId: createSalesOrderHeader
      tags:
      - Sales Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderHeaderEntity'
      responses:
        '201':
          description: The created sales order header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderHeaderEntity'
components:
  parameters:
    skip:
      name: $skip
      in: query
      description: Number of records to skip.
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      description: OData filter expression.
      schema:
        type: string
    orderby:
      name: $orderby
      in: query
      description: Comma-separated list of properties to sort by.
      schema:
        type: string
    companyId:
      name: companyId
      in: path
      required: true
      description: The ID of the company.
      schema:
        type: string
        format: uuid
    crossCompany:
      name: cross-company
      in: query
      description: Set to true to retrieve data across all legal entities.
      schema:
        type: boolean
    top:
      name: $top
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
    top_2:
      name: $top
      in: query
      description: Maximum number of records to return (max 10000).
      schema:
        type: integer
    select:
      name: $select
      in: query
      description: Comma-separated list of properties to include.
      schema:
        type: string
  schemas:
    SalesOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        number:
          type: string
        orderDate:
          type: string
          format: date
        postingDate:
          type: string
          format: date
        customerId:
          type: string
          format: uuid
        customerNumber:
          type: string
        customerName:
          type: string
          readOnly: true
        currencyCode:
          type: string
        status:
          type: string
          readOnly: true
        totalAmountExcludingTax:
          type: number
          format: decimal
          readOnly: true
        totalAmountIncludingTax:
          type: number
          format: decimal
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
    SalesOrderHeaderEntity:
      type: object
      properties:
        SalesOrderNumber:
          type: string
        OrderCreationDateTime:
          type: string
          format: date-time
        CustomerAccountNumber:
          type: string
        InvoiceCustomerAccountNumber:
          type: string
        CurrencyCode:
          type: string
        SalesOrderStatus:
          type: string
        RequestedShippingDate:
          type: string
          format: date
        TotalInvoiceAmount:
          type: number
          format: decimal
        dataAreaId:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID (Azure AD) OAuth 2.0 authentication.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central API
x-refined-from:
- microsoft-dynamics-business-central-openapi.yml
- microsoft-dynamics-finance-operations-openapi.yml
