openapi: 3.2.0
info:
  title: Microsoft Dynamics 365 Business Central … Purchase Invoices…
  description: The Microsoft Dynamics 365 Business Central API (v2.0) provides a RESTful interface for integrating with Business Central. It exposes standard business entities such as customers, vendors, items, sales orders, purchase orders, journals, and general ledger entries. The API uses OData v4 conventions and requires Microsoft Entra ID (Azure AD) authentication.
  version: '2.0'
  contact:
    name: Microsoft
    url: https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/api-reference/v2.0/
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{tenantId}/{environment}/api/v2.0
  description: Business Central Online (SaaS)
  variables:
    tenantId:
      default: common
      description: The Azure AD tenant ID or domain name.
    environment:
      default: production
      description: The Business Central environment name.
- url: https://{baseUrl}:{port}/{serverInstance}/api/v2.0
  description: Business Central On-Premises
  variables:
    baseUrl:
      default: localhost
    port:
      default: '7048'
    serverInstance:
      default: bc
security:
- oauth2: []
tags:
- name: Purchase Invoices
paths:
  /companies({companyId})/purchaseInvoices:
    get:
      summary: Microsoft Dynamics List purchase invoices
      description: Returns a list of purchase invoices.
      operationId: listPurchaseInvoices
      tags:
      - Purchase Invoices
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A list of purchase invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseInvoice'
    post:
      summary: Microsoft Dynamics Create a purchase invoice
      description: Creates a new purchase invoice.
      operationId: createPurchaseInvoice
      tags:
      - Purchase Invoices
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoice'
      responses:
        '201':
          description: The created purchase invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
components:
  parameters:
    top:
      name: $top
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
    select:
      name: $select
      in: query
      description: Comma-separated list of properties to include.
      schema:
        type: string
    companyId:
      name: companyId
      in: path
      required: true
      description: The ID of the company.
      schema:
        type: string
        format: uuid
    skip:
      name: $skip
      in: query
      description: Number of records to skip.
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      description: OData filter expression.
      schema:
        type: string
  schemas:
    PurchaseInvoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        number:
          type: string
        invoiceDate:
          type: string
          format: date
        postingDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        vendorId:
          type: string
          format: uuid
        vendorNumber:
          type: string
        vendorName:
          type: string
          readOnly: true
        currencyCode:
          type: string
        status:
          type: string
          readOnly: true
        totalAmountExcludingTax:
          type: number
          format: decimal
          readOnly: true
        totalAmountIncludingTax:
          type: number
          format: decimal
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID (Azure AD) OAuth 2.0 authentication.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central API
