# x-archived-from: microsoft-dynamics-general-ledger-api-openapi.yml
# x-archived-on: 2026-09-26
openapi: 3.2.0
info:
  title: Microsoft Dynamics General Ledger API
  license:
    name: Microsoft APIs Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  version: '1.0'
  description: 'Operations tagged General Ledger across 2 of this provider''s published API definitions: microsoft-dynamics-business-central-openapi.yml, microsoft-dynamics-finance-operations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{tenantId}/{environment}/api/v2.0
  description: Business Central Online (SaaS)
  variables:
    tenantId:
      default: common
      description: The Azure AD tenant ID or domain name.
    environment:
      default: production
      description: The Business Central environment name.
- url: https://{baseUrl}:{port}/{serverInstance}/api/v2.0
  description: Business Central On-Premises
  variables:
    baseUrl:
      default: localhost
    port:
      default: '7048'
    serverInstance:
      default: bc
- url: https://{environment}.operations.dynamics.com/data
  description: Dynamics 365 Finance & Operations Online
  variables:
    environment:
      default: myorg
      description: The environment-specific subdomain.
security:
- oauth2: []
tags:
- name: General Ledger
paths:
  /companies({companyId})/generalLedgerEntries:
    get:
      summary: Microsoft Dynamics List general ledger entries
      description: Returns a list of general ledger entries.
      operationId: listGeneralLedgerEntries
      tags:
      - General Ledger
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: A list of general ledger entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/GeneralLedgerEntry'
    servers:
    - url: https://api.businesscentral.dynamics.com/v2.0/{tenantId}/{environment}/api/v2.0
      description: Business Central Online (SaaS)
      variables:
        tenantId:
          default: common
          description: The Azure AD tenant ID or domain name.
        environment:
          default: production
          description: The Business Central environment name.
    - url: https://{baseUrl}:{port}/{serverInstance}/api/v2.0
      description: Business Central On-Premises
      variables:
        baseUrl:
          default: localhost
        port:
          default: '7048'
        serverInstance:
          default: bc
  /GeneralJournalAccountEntries:
    get:
      summary: Microsoft Dynamics List general journal account entries
      description: Retrieves the collection of general journal account entry entities.
      operationId: listGeneralJournalAccountEntries
      tags:
      - General Ledger
      parameters:
      - $ref: '#/components/parameters/top_2'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/crossCompany'
      responses:
        '200':
          description: A collection of general journal account entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/GeneralJournalAccountEntry'
    servers:
    - url: https://{environment}.operations.dynamics.com/data
      description: Dynamics 365 Finance & Operations Online
      variables:
        environment:
          default: myorg
          description: The environment-specific subdomain.
components:
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      description: The ID of the company.
      schema:
        type: string
        format: uuid
    skip:
      name: $skip
      in: query
      description: Number of records to skip.
      schema:
        type: integer
    select:
      name: $select
      in: query
      description: Comma-separated list of properties to include.
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: OData filter expression.
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
    orderby:
      name: $orderby
      in: query
      description: Comma-separated list of properties to sort by.
      schema:
        type: string
    crossCompany:
      name: cross-company
      in: query
      description: Set to true to retrieve data across all legal entities.
      schema:
        type: boolean
    top_2:
      name: $top
      in: query
      description: Maximum number of records to return (max 10000).
      schema:
        type: integer
  schemas:
    GeneralLedgerEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        entryNumber:
          type: integer
          readOnly: true
        postingDate:
          type: string
          format: date
        documentNumber:
          type: string
        documentType:
          type: string
        accountId:
          type: string
          format: uuid
        accountNumber:
          type: string
        description:
          type: string
        debitAmount:
          type: number
          format: decimal
        creditAmount:
          type: number
          format: decimal
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
    GeneralJournalAccountEntry:
      type: object
      properties:
        JournalNumber:
          type: string
        AccountingDate:
          type: string
          format: date
        MainAccountId:
          type: string
        TransactionCurrencyCode:
          type: string
        TransactionCurrencyAmount:
          type: number
          format: decimal
        AccountingCurrencyAmount:
          type: number
          format: decimal
        PostingType:
          type: string
        DocumentNumber:
          type: string
        Text:
          type: string
        dataAreaId:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID (Azure AD) OAuth 2.0 authentication.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://api.businesscentral.dynamics.com/.default: Access Business Central API
x-refined-from:
- microsoft-dynamics-business-central-openapi.yml
- microsoft-dynamics-finance-operations-openapi.yml
